/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.selected {
	background-color: red;
}

.top-bar {
	text-align: center;
}

.top-bar-title-wrapper {
	display: inline-block;
}

.category-icon {
	width: 1em;
	height: 1em;
}

.image {
	width: 100%;
}

.overwatch-font {
	font-family: Big Noodle Too, impact, sans-serif;
}

.label-font {
  font-family: Futura,century gothic, arial, sans-serif;
  font-size: 0.8em;
}

.no-hero-container {
	text-align: center;
}

.opponents {
	text-align: center;
}

.center-text {
	text-align: center;
}


.inline {
	display: inline-block;
}


/* Rendering Heroes */

.offense-block {
	width: calc((6% * 100 / 21) - 3%);
	display: inline-block;
	margin: 0% 1.5%;
}

.defense-block {
	width: calc((6% * 100 / 21) - 3%);
	display: inline-block;
	margin: 0% 1.5%;
}

.tank-block {
	width: calc((5% * 100 / 21) - 3%);
	display: inline-block;
	margin: 0% 1.5%;
}

.support-block {
	width: calc((4% * 100 / 21) - 3%);
	display: inline-block;
	margin: 0% 1.5%;
}

.offense-hero {
	width: calc(1% * 100 / 6);
}

.defense-hero {
	width: calc(1% * 100 / 6);
}

.tank-hero {
	width: calc(1% * 100 / 5);
}

.support-hero {
	width: calc(1% * 100 / 4);
}


/* Render Opponents */

.opponent-wrapper {
	width: ;
}

/* Render Counters */

.counter  {
	position: relative;
}
