/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 body {
 	background-color: #FFFCF7;
 }

.header {
  margin: 0.25em 1em;
}

.logo {
  font-size: 1.5em;
  color: #0c4d78;
  font-style: italic;
}

.create-matchups-link {
  font-family: Futura,century gothic, arial, sans-serif;
  font-size: 1.2em;
}

.footer {
  /*margin-top: 2em;*/
  margin-right: 1em;
}

.footer-link {
  float: right;
  margin-right: 0.5em;
}

/*.top-bar {
	text-align: center;
	background: #C8DBFF;
}

.top-bar-title-wrapper {
	display: inline-block;
}*/

.image {
	width: 100%;
}

/*.github-favicon {
	width: 1.5em;
}*/

.overwatch-font {
	font-family: Big Noodle Too, impact, sans-serif;
	color: #38342f;
}

.overwatch-header {
	font-family: Big Noodle Too, impact, sans-serif;
	font-style: italic;
	font-size: 2em;
	margin-bottom: 0em;
	color: #38342f;
}

.label-font {
  font-family: Futura,century gothic, arial, sans-serif;
  font-size: 0.8em;
  color: #38342f;
}

.center-text {
	text-align: center;
}

.top-bar {
	padding: 0.5em 0.5em 0em 0.5em;
}

.inline {
	display: inline-block;
}

.relative {
	position: relative;
}

.button-wrapper {
	display: inline-block;
}

/* Render Heroes */

.select-opponents-font {
  font-family: Futura,century gothic, arial, sans-serif;
  font-size: 1.2em;
  color: #38342f;
  text-align: center;
}

.heroes {
	height: 0em;
}

/* Hero animation */
.hero-animate {
  animation: pulse 0.25s;
}

.hero-button {
  border-radius: 25px;
  outline: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  
  50% {
    transform: scale(0.7);
  }
  
  100% {
    transform: scale(1);
  }
}
/* Hero animation */

.hero-text {
	margin: 0em;
}

.icon-wrapper {
	width: 1em;
}

.offense-hero {
	width: 16.50%;
}

.defense-hero {
	width: 16.50%;
}

.tank-hero {
	width: 16.50%;
	margin: 0% 1.75%;
}

.support-hero {
	width: 16.50%;
	margin: 0% 1.75%;
}

.no-hero-button {
	margin: 0.5em;
}

.category-icon {
	width: 1em;
	height: 1em;
}

.widowmaker {
  font-size: 8em;
}

/* Render Opponents */

.opponents {
	text-align: center;
}

.opponent-wrapper {
	width: 45%;
	margin: auto;
	padding: 0.5em 0em;
}

.opponent-text {
	font-size: 0.8em;
}

.clear-button {
	margin: 0em;
}

.no-hero-container {
	text-align: center;
}

.selected {
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(blue, white); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(blue, white); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(blue, white); /* For Firefox 3.6 to 15 */
  background: radial-gradient(blue, white)
}

/* Render Counters */

.selected-counter {
	text-align: center;
}

.switch-counter-render-button {
	position: absolute;
	top: 0;
	right: 0;
}

.counter-icon {
	margin: auto;
	padding-bottom: 0.5em;
}

.counter-button {
	width: 3em;
	margin-left: auto;
	margin-right: auto;
}

.counter  {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
}

.positive-counter-score-container {
	display: block;
	background: #ffa800;
	position: absolute;
	left: 50%;
	top: 20%;
	bottom: 20%;
	z-index: -1;
	font-size: 1.5em;
}

.positive-counter-score {
	position: absolute;
	left: 1.5em;
}

.negative-counter-score-container {
	display: block;
	background: #0057FF;
	position: absolute;
	right: 50%;
	top: 20%;
	bottom: 20%;
	z-index: -1;
	font-size: 1.5em;
}

.negative-counter-score {
	position: absolute;
	right: 1.5em;
}

.fl-right {
  float: right;
}

.matchup {
  width: 3.5em;
  height: 3.5em;
  text-align: center;
  margin: 0.18em 0.18em;
}

td > p.matchup {
  margin-bottom: 0;
  padding-top: 1em;
}

.opponent-column-label {
  text-align: center;
}

.hero-row-label {
  margin-top: 1em;
  text-align: center;
}

.table-button {
  margin-top: 1em;
  border-radius: 10px;
}

.no-outline-button {
  outline: none;
}

.help-button {
  background-color: #F16211;
  height: 2.5em;
  width: 2.5em;
  border-radius: 10px;
  color: #FFFFFF;
  outline: none;
}

.help-button-text {
  font-weight: bold;
  font-size: 2em;
}

.side-margin {
  margin: 0em 0.5em;
}

.save-warning {
  margin: 1em 0 0 0;
}