<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OverwatchCounters</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <div class="header">
        <span class="logo overwatch-font"><a href="/">Overwatch Counters</a></span>

        <% if !request.original_fullpath.include?("matchup_table") %>
          <span class="fl-right"><a class="create-matchups-link" href="/matchup_tables/new">Create matchups</a></span>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="footer"><a class="footer-link" href="https://github.com/markjanzer/overwatch_counters">Contribute</a></div>
    </footer>

  </body>
</html>
