<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OverwatchCounters</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <span class="overwatch-font">Overwatch Counters</span>

      <% if !request.original_fullpath.include?("matchup_table") %>
        <span class="fl-right"><a href="/matchup_tables/new">Create matchups</a></span>
      <% end %>
    </header>

    <%= yield %>

    <footer>
      <span class="footer"><a href="https://github.com/markjanzer/overwatch_counters"></a></span>
    </footer>

  </body>
</html>
